<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="upload.css">
  <title>Upload Your Content</title>
</head>

<body>
  <div class="root">
    <div class="container">
      <div class="heading">
        <div class="headingUp">
          Upload video to
        </div>
        <div class="headingDown">
          Youtube
        </div>
      </div>
      <form id="upload-form" action="/upload/<% user%>" method="post" enctype="multipart/form-data">
        <div class="form-group">
          <label for="video-title">Title</label>
          <input type="text" id="video-title" required placeholder="Enter title" name="title">
        </div>
        <div class="form-group">
          <label for="video-description">Description</label>
          <textarea id="video-description" rows="4" required placeholder="Enter description" name="description"></textarea>
        </div>
        <div class="form-group">
          <label for="video-file">Video File</label>
          <input type="file" id="video-file" required name="video">
        </div>
        <div class="form-group">
          <label for="video-thumbnail">Tags</label>
          <input type="text" id="video-title" required placeholder="Tags" name="tags" data-role="tagsinput">
        </div>
        <div class="button-upload">
          <button href="" type="submit">Upload</button>
        </div>
      </form>
    </div>
  </div>

  
  <script src="script.js"></script>
</body>

</html>