<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="search.css">
    <title>Search</title>
</head>
<body>
    <head>
        <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
          <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
       </head>
       
       <body>
       <div class="search-container">
               <input type="text" name="search" placeholder="Enter Your Channel Email Id" class="search-input">
               <a href="#" class="search-btn">
                       <i class="fas fa-search"></i>      
               </a>
           </div>
           </body>
    </div>
</body>
</html>